@import url(_tips/main__title_tips_on.css);

.main__title {
    height: auto;
    min-height: 36px;
    margin-top: 12px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    outline: none;
    border: 0;
    resize: none;
}

.main__title::placeholder {
    font-family: 'Lobster', cursive;
    font-size: 14px;
    opacity: 0.5;
}