.panel__button {
    background-color: #ECECEC;
    height: 20px;
    width: 20px;
    border-radius: 15%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: opacity 0.5s linear 0s;
}

.panel__button:hover {
    opacity: 0.5;
}
